<%- await include('header.ejs', { title: 'include example', cartPrice: cartPrice }) %>

    <h1>Warenkorb</h1>

    <table class="table">
        <tr>
            <th>Produkt</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Total</th>
        </tr>
        
        <% if(cartitems !== undefined){ for(let i=0; i < cartitems.length; i++) { %>
            <tr>
                <td><%= cartitems[i].product.productName %></td>
                <td id="price<%=i%>"><%= cartitems[i].product.specialOffer %></td>
                <td><%= cartitems[i].amount %></td>
                <td id="totalPrice<%=i%>"><%= cartitems[i].price() %></td>
                <td><a href="/cart/item/<%= cartitems[i].product.id %>/remove">remove</a></td>
            </tr>   
            <script>
                document.getElementById('price<%=i%>').textContent = new Intl.NumberFormat('de-CH', {style: 'currency',currency: 'CHF', minimumFractionDigits: 2}).format("<%= cartitems[i].product.specialOffer %>");
                document.getElementById('totalPrice<%=i%>').textContent = new Intl.NumberFormat('de-CH', {style: 'currency',currency: 'CHF', minimumFractionDigits: 2}).format("<%= cartitems[i].price() %>");
            </script>           
        <% }} %>
    </table>

<%- await include('footer.ejs') %>

<script>
    console.log(cartitems);
</script>