<%- await include('header.ejs', { title: 'include example' }) %>

    <h1>Warenkorb</h1>

    <table class="table">
        <tr>
            <th>Produkt</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Total</th>
        </tr>
        
        <% if(cartitems !== undefined){ for(let i=0; i < cartitems.length; i++) { %>
            <tr>
                <td><%= cartitems[i].product.productName %></td>
                <td><%= cartitems[i].product.normalPrice %></td>
                <td><%= cartitems[i].amount %></td>
                <td><%= cartitems[i].price() %></td>
                <td><a href="/cart/item/<%= cartitems[i].product.id %>/remove">remove</a></td>
            </tr>   
        <% }} %>

    </table>

<%- await include('footer.ejs') %>

<script>
    console.log(cartitems)
</script>