<%- await include('header.ejs', { title: 'include example', cartPrice: cartPrice }) %>

<script>
    const currency = function(number){
    return new Intl.NumberFormat('en-IN', {style: 'currency',currency: 'INR', minimumFractionDigits: 2}).format(number)};
</script>

<div class="card">

    <div class="card-header">
        <%= product.productName %>
    </div>

    <div class="card-body">
        <img style="height: 400px; width: 400px; max-width: 100%; background-color: rgba(238, 238, 238, 0.836);"
            src='/products/<%= product.imageName %>'>
        <br>
        <table>
            <tr>
                <th width="80px">
                    <p id="specialOffer" style="flex-basis: 50px; color: black;"></p>
                </th>
                <th>
                    <p id="normalPrice" style="flex-basis: 10px; color:tomato;text-decoration: line-through;"></p> 
                </th>
            </tr>
        </table>
        <br>
        <%= product.description %>
        <br>
        <a href="/product/<%= product.id %>/add">Hinzufügen</a>
    </div>
</div>

<script>
    document.getElementById('specialOffer').textContent = new Intl.NumberFormat('de-CH', {style: 'currency',currency: 'CHF', minimumFractionDigits: 2}).format("<%= product.specialOffer %>");
    document.getElementById('normalPrice').textContent = new Intl.NumberFormat('de-CH', {style: 'currency',currency: 'CHF', minimumFractionDigits: 2}).format("<%= product.normalPrice %>");
</script>


<%- await include('footer.ejs') %>