<%- await include('header.ejs', { title: 'include example' }) %>

<div class="card">

    <div class="card-header">
        <%= product.productName %>
    </div>

    <div class="card-body">
        <img style="height: 400px; width: 400px; background-color: rgba(238, 238, 238, 0.836);"
            src='/products/<%= product.imageName %>'>
        <br>
        <table>
            <tr>
                <th width="65px">
                    <p style="flex-basis: 50px; color: black;"><%= product.specialOffer %> CHF</p>
                </th>
                <th>
                    <p style="flex-basis: 10px; color:tomato;"><del><%= product.normalPrice %> CHF</del></p> 
                </th>
            </tr>
        </table>
        <br>
        <%= product.description %>
        <br>
        <a href="/product/<%= product.id %>/add">Hinzufügen</a>
    </div>
</div>

<%- await include('footer.ejs') %>