<%- await include('header.ejs', { title: 'include example' }) %>

    <div class="card">

        <div class="card-header">
            <%= product.productName %>
        </div>

        <div class="card-body">
            <img style="height: 400px; width: 400px; background-color: rgba(238, 238, 238, 0.836);" src='/products/<%= product.imageName %>'>
            <br>
            <div style="display: flex; justify-content: space-between;">
                <p style="flex-basis: 7%; color:tomato;"><del><%= product.normalPrice %> CHF</del></p>   
                <p style="flex-basis: 100%; color: green;"><%= product.specialOffer %> CHF</p>
            </div>
            <br>
            <%= product.description %>
            <br>
            <button onclick="openEditProductModal('<%= product.id %>','<%= product.productName %>')" type="button">Hinzufügen</button>
        </div>
    </div>

    <%- await include('footer.ejs') %>