<%- await include('header.ejs', { title: 'include example' }) %>

    <div class="card">

        <div class="card-header">
            <%= title %>
        </div>

        <div class="card-body">
            <ul class="list-group">

                <% for(let i=0; i < products.length; i++) { %>

                    <li class="list-group-item">
                        <a href="/product/<%= products[i].id %>" style="color: black;">
                            <br>
                            <img style="height: 200px; width: 200px; background-color: rgba(238, 238, 238, 0.836);"
                                src="/products/<%= products[i].imageName %>">
                        </a>
                        <table>
                            <tr>
                                <th width="80px">
                                    <p style="flex-basis: 50px; color: black;"><%= products[i].specialOffer %> CHF</p>
                                </th>
                                <th>
                                    <p style="flex-basis: 10px; color:tomato;"><del><%= products[i].normalPrice %> CHF</del></p> 
                                </th>
                            </tr>
                        </table>
                        <a href="/product/<%= products[i].id %>/add">Hinzufügen</a>
                    </li>

                    <% } %>
            </ul>
        </div>
    </div>

    <%- await include('footer.ejs') %>