<%- await include('header.ejs', { title: 'include example' }) %>

    <div class="card">

        <div class="card-header">
            <%= title %>
        </div>

        <div class="card-body">
            <ul class="list-group">

                <% for(let i=0; i < products.length; i++) { %>

                    <li class="list-group-item">
                        <a href="/product/<%= products[i].id %>" style="color: black;">
                            <br>
                            <img style="height: 200px; width: 200px; background-color: rgba(238, 238, 238, 0.836);"
                                src="/products/<%= products[i].imageName %>">
                            <br>
                            <%= products[i].normalPrice %>
                                <br>
                                <button
                                    onclick="openEditProductModal('<%= products[i].id %>','<%= products[i].productName %>')"
                                    type="button">Hinzufügen
                                </button>
                    </li>

                    <% } %>
            </ul>
        </div>
    </div>

    <%- await include('footer.ejs') %>